<!-- views/show-img.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Lista de Imágenes</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('partials/navbar') %>
  <h1>Lista de Imágenes</h1>
<ul>
  <% if (images && images.length) { %>
    <% images.forEach(img => { %>
      <% if (img && img.title && img.url) { %>
        <li>
          <h2><%= img.title.toUpperCase() %></h2>
          <img src="<%= img.url %>" alt="<%= img.title %>" width="450">
          <p>Fecha: <%= img.date %></p>
          <% if (img.color) { %>
            <div class="color" style="background-color: <%= img.color %>;">
              <%= img.color %>
            </div>
          <% } %>
        </li>
      <% } %>
    <% }) %>
  <% } else { %>
    <li>No hay imágenes para mostrar.</li>
  <% } %>
</ul>
</body>
</html>